#container {

    display: flex;
    flex-wrap: wrap;

    border: 1px solid grey;
    margin: auto;
    width: 60%;
    padding: 10px;

}

.innerBox {
    height: 25px;
    width: 25px;
    border: 1px solid blue;
    display: flex;
    background-color: gray;
    border: 1px solid black;
}